.notes-bar-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  background-color: #001f8b;
  display: flex;
  padding-left: 30px;
  align-items: center;
  height: 90px;
}

.display-group {
  display: flex;
  align-items: center;
  color: white;
  column-gap: 20px;
}

.avatar {
  height: 59px;
  width: 59px;
  font-size: 24px;
  font-family: Roboto;
  font-family: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.notes-float {
  height: 60%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  overflow-y: auto;
}

.text-send-notes {
  height: 30%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #001f8b;
}

.send-icon {
  position: absolute;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}

.input-class {
  height: 78%;
  width: 95%;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  padding: 10px;
  font-size: 22px;
  border: none;
  outline: none;
}

.note {
  display: flex;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 300px;
  min-height: 200px;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.display-time {
  width: 100%;
  padding-right: 30px;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
